* {
    margin: 0;
}


html ,body {
    margin: 0;
    padding: 0;
    background-color: #E7F4F2;
    height:100%;
   
   
    
    
}

body{
    overflow-y: scroll;
}
.brandLogo h3 {
    margin: 0;
}


.bg-container {
    top: 0px;
    background-image: url("./assets/sellSec.jpg");
    background-size: cover;
    width: 100%;
    height: 100%; /* Change to 100vh for full viewport height */
    display: flex;
    align-items: center;
    
    box-sizing: border-box;
    flex-direction: column;

    position: relative; /* Add this line */
    z-index: 1;
}





a:hover {
    text-decoration: underline;
  
}

